## Cumilifying Dataset
In this file we have cumuliated the data and saved the dataset in data folder with name cumulative_data.csv

In [60]:
#importing required Libraries
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('data/ODI_Players_runs_Cleaned.csv')

In [16]:
data_temp = data.copy()

In [17]:
data_temp.shape

(2547, 52)

In [18]:
data.shape

(2547, 52)

In [19]:
data_temp.head()

,Name_of_player,Country,1970,1971,1972,1973,1974,1975,1976,1977,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Zaheer Abbas,Pakistan,NaN,NaN,NaN,NaN,88.0,136.0,23.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Syed Abid Ali,India,NaN,NaN,NaN,NaN,23.0,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jimmy Adams,West Indies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jonathan Agnew,England,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Saliya Ahangama,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data_temp.shape

(2547, 52)

In [75]:
d = {}
for i in range(2,52):
    df = data_temp.iloc[:,2:i+1]
    d[columns[i]] = df.sum(axis = 1, skipna = True)

In [76]:
temp_cumulative_df = pd.DataFrame(d)

In [77]:
temp_cumulative_df.insert(loc=0, column='Name_of_player', value=data_temp['Name_of_player'])
temp_cumulative_df.insert(loc=1, column='Country', value=data_temp['Country'])

In [78]:
isna_values = data_temp.isna()

In [80]:
temp_cumulative_df[isna_values] = np.nan

In [82]:
cumulative_df = temp_cumulative_df.copy()

In [83]:
cumulative_df.to_csv("data/cumulative_data.csv",sep=',',index=True)